:root {
    --btnColor: #64a19d;
    --hoverStyle: #467370;
    --normalStyle: #FFFFFF;
    --dkStyle: #000000;
    --greyStyle: #808080;
}


/*========================================
 GENERAL STYLE
======================================== */
body {
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.0625em;
}

a {
    color: var(--btnColor);
    font-size: large;
    font-weight: 900;
}

a:focus, a:hover {
    text-decoration: none;
    font-weight: 900;
    color: var(--normalStyle);
}
a:active{
    border: none;
}
.bg-black {
    background-color: #161616;
}

/*===============================
           NAV STYLE
 ================================*/
#mainNav {
    min-height: 56px;
    background-color: var(--normalStyle);
}

#mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: var(--btnColor);
    border: 1px solid var(--btnColor);
}

#mainNav .navbar-toggler:focus {
    outline: none;
}

#mainNav .navbar-brand {
    color: #161616;
    font-weight: 700;
    padding: .9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
    color: var(--normalStyle);
    font-weight: 700;
    outline: none;
    background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        background-color: transparent;
        transition: background-color 0.3s ease-in-out;
    }

    #mainNav .navbar-brand {
        padding: .5rem 0;
        color: var(--normalStyle);
    }

    #mainNav .nav-link {
        transition: none;
        padding: 2rem 1.5rem;
        color: var(--normalStyle);
    }

    #mainNav .nav-link:hover {
        color: var(--hoverStyle);
    }

    #mainNav .nav-link:active {
        color: var(--normalStyle);
    }

    #mainNav.navbar-shrink {
        background-color: var(--normalStyle);
    }

    #mainNav.navbar-shrink .navbar-brand {
        color: var(--dkStyle);
    }

    #mainNav.navbar-shrink .nav-link {
        color: var(--dkStyle);
        padding: 1.5rem 1.5rem 1.25rem;
        border-bottom: 0.25rem solid transparent;
    }

    #mainNav.navbar-shrink .nav-link:hover {
        color: var(--btnColor);
    }

    #mainNav.navbar-shrink .nav-link:active {
        color: var(--hoverStyle);
    }

    #mainNav.navbar-shrink .nav-link.active {
        color: var(--btnColor);
        outline: none;
        border-bottom: 0.25rem solid var(--btnColor);
    }
}

/*========================================
 BUTTON STYLE
======================================== */
.btn {
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1);
    padding: 1.25rem 2rem;
    font-family: 'Varela Round', sans-serif;
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: .15rem;
    border: 0;
}

.btn-primary {
    background-color: var(--btnColor);
}

.btn-primary:hover {
    background-color: var(--hoverStyle);
}

.btn-primary:focus {
    background-color: var(--hoverStyle);
    color: var(--normalStyle);
}

.btn-primary:active {
    background-color: var(--hoverStyle);
    border: none;
}

.btn-social {
    border-radius: 100%;
    display: inline-flex;
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
    background: var(--greyStyle);
}

.btn-outline-light {
    color: var(--normalStyle);
    border-color: var(--normalStyle);
}

/*======================================
            HEADER SECTION
 =====================================*/
.masthead {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 3rem;
    padding: 0;
    background-color: var(--dkStyle);

}

.masthead h1 {
    font-family: 'Varela Round', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    line-height: 4rem;
    letter-spacing: 0.8rem;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    background: -o-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    background: -moz-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    background: -ms-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.masthead h2 {
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    color: var(--normalStyle);
    font-size: 3rem;

}

@media (max-width: 768px) {
    .masthead h1 {
        padding-top: 6rem;
        font-size: 3rem;
        line-height: 3rem;
    }

    .masthead h2 {

        font-size: 2.5rem;
    }
}

@media (min-width: 992px) {
    .masthead {
        height: 100vh;
        padding: 0;
    }

    .masthead h1 {
        font-size: 6.5rem;
        line-height: 6.5rem;
        letter-spacing: 0.8rem;
    }

    .masthead h2 {

        font-size: 2.5rem;
    }
}

/*========================================
 ABOUT SECTION
======================================== */
.about-section {
    padding: 0;
    background: linear-gradient(#000000, #808080, #000000);
    background: -webkit-linear-gradient(#000000, #808080, #000000);
    background: -o-linear-gradient(#000000, #808080, #000000);
    background: -moz-linear-gradient(#000000, #808080, #000000);
    background: -ms-linear-gradient(#000000, #808080, #000000);

}

.about-section p {
    margin-bottom: 30px;
    font-size: 18px;
    color: var(--dkStyle);
}

.about-section h2 {
    font-size: 2.25rem;
    color: var(--normalStyle);
}

.card {
    background: -webkit-linear-gradient(var(--dkStyle), var(--normalStyle));
    background: -o-linear-gradient(var(--dkStyle), var(--normalStyle));
    background: -moz-linear-gradient(var(--dkStyle), var(--normalStyle));
    background: -ms-linear-gradient(var(--dkStyle), var(--normalStyle));
    border: none;
}

/*========================================
 WORK SECTION
======================================== */
.page-section {
    padding: 6rem 0;
    background: var(--dkStyle);
}

.page-section-heading {
    font-size: 2.25rem;

}

@media (min-width: 992px) {
    .page-section .page-section-heading {
        font-size: 3rem;
        line-height: 2.5rem
    }
}

.portfolio .portfolio-item {
    cursor: pointer;
    position: relative;
    display: block;
    max-width: 25rem;
    margin-bottom: 30px;
    border-radius: .5rem;
    overflow: hidden;
    border: solid .1rem var(--hoverStyle);
}

.portfolio .portfolio-item .portfolio-item-caption {
    position: absolute;
    top: 0;
    left: 0;
    transition: all .2s ease-in-out;
    opacity: 0;
    background-color: var(--btnColor);

}

.portfolio .portfolio-item .portfolio-item-caption:hover {
    opacity: 1
}

.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
    font-size: 1.5rem
}

.portfolio-modal .portfolio-modal-title {
    font-size: 2.25rem;
    line-height: 2rem
}

@media (min-width: 992px) {
    .portfolio-modal .portfolio-modal-title {
        font-size: 3rem;
        line-height: 2.5rem
    }
}

.portfolio-modal .close {
    position: absolute;
    z-index: 1;
    right: 1.5rem;
    top: 1rem;
    font-size: 3rem;
    line-height: 3rem;
    color: var(--btnColor);
    opacity: 1
}

/*========================================
 CONTACT SECTION
======================================== */
.contact-section {
    padding: 5rem 0 0;
    background: linear-gradient(#000000, #808080, #000000);
    background: -webkit-linear-gradient(#000000, #808080, #000000);
    background: -o-linear-gradient(#000000, #808080, #000000);
    background: -moz-linear-gradient(#000000, #808080, #000000);
    background: -ms-linear-gradient(#000000, #808080, #000000);
}

.contact-section .card h4 {
    font-size: 1rem;
    font-weight: 900;
    font-family: 'Varela Round', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

.contact-section .card {

    background: rgba(128, 128, 128, 0.2);
    -moz-box-shadow: 5px 10px 10px 0 var(--dkStyle);
    -webkit-box-shadow: 5px 10px 10px 0 var(--dkStyle);
    -o-box-shadow: 5px 10px 10px 0 var(--dkStyle);
    box-shadow: 5px 10px 10px 0 var(--dkStyle);
}

hr {
    align-items: center;
    border-color: var(--btnColor);
    border-width: 0.25rem;
    width: 3rem;
}

.contact-section .social {
    margin-top: 5rem;
}
.contact-section .card i{
    color: var(--btnColor);
}
.contact-section .social a {
    text-align: center;
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    line-height: 2rem;
    color: var(--dkStyle);
}

.contact-section .social a:hover {
    color: var(--dkStyle);
}

.contact-section .social a:active {
    color: var(--normalStyle);
}

/*========================================
FOOTER SECTION
======================================== */
footer {
    padding: 1rem 0;
    background: var(--dkStyle);
}


.scrollTop {
    width: 35px;
    height: 35px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    display: none;

}

.scrollTop i {
    display: inline-block;
    color: var(--btnColor);
    margin: -20px -8px 10px;
}



